.container {
    height: auto;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0%;
    z-index: 999;
    background-color: black;
    text-decoration: none;
  }
  
  .item {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-top: 15px;
  }

  .item:nth-child(1) {
    margin-top: 5px;
    width: 70%;
    margin-left: 5%;
  }
  
  .item:nth-child(2) {
    flex: 3;
    margin-top: 2%;
    background-color: black;
  }