.link {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10%;
}

.stackContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    background-color: black; /* Dodaj to, aby ustawić czarne tło */
  }

.logo {
    width: '250px';
    height: '65px';
    margin: '30px 15%';
    margin-left: 10%;
}

.roadContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 1.5%;
    font-size: 24px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color:white
}

.link {
    text-decoration: none;
    color:white;
    font-size: 48px;
}